@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Commissioner:wght@100..900&display=swap');

body {
    background-color: rgb(33, 52, 72);

}

.contenedor {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

* {
    color: #F6F6F6;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header,
footer {
    background-color: #ECEFCAB2;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 40px;

    .nombre {
        color: #ECEFCA;
    }
}

.nombre {
    margin-left: 5%;
    font-size: 32px;
    font-weight: 600;
}

.header_opciones {
    margin-right: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header_opciones>i {
    font-size: 32px;
}

.header_opciones>a>i {
    font-size: 32px;
}

.header_opciones>* {
    margin-right: 5%;
}

.buscador {
    background-color: #F6F6F6;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

#buscadortxt {
    border: none;
    background-color: #F6F6F6;
    color: black;
}

.lupa {

    color: rgba(0, 0, 0, .1);
}

footer {
    height: 125px !important;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.copyright {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "FLAR" 0,
        "VOLM" 0;
}

.redes>i {
    font-size: 21px;
    margin-right: 10px;
}

/* Style de Login*/
.contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
  
.formulario {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    text-align: center;
}
  
.formulario h2 {
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 500;
  }
  
.formulario label {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
  
.formulario input {
    padding: 0.6rem;
    border-radius: 20px;
    border: none;
    background-color: #d4d4d4;
    color: #0f0f0f;
}
  
.formulario button {
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    background-color: #5c7894;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
}

@media (max-width: 520px) and (min-width:320px){
    header {
        display: grid;
        align-content: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        margin-bottom: 40px;
    }
    .contenido {
        padding: 1rem;
    }

    footer {
        height: 125px !important;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }

    .copyright {
        font-size: 13px;
    }

    .redes>i {
        font-size: 18px;
        margin-right: 7px;
    }
}

/* Style de Index
.cuerpo{
    width:80%;
}

.seccionAudifonos {
    width: 417px;
    background-color: #547792;
    padding: 20px;
    position: relative;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 491px;
}

.seccionAudifonos>img {
    width: 299px;
    height: 299px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.seccionAudifonos b {
  font-size: 20px;
  font-weight: 700;
}

.seccionAudifonos span {
  font-size: 14px;
  color: #ffffff;
}

.seccionAudifonos .precio {
  font-weight: bold;
  color: #ECEFCA;
  font-size: 18px;
}

.colorAudifonos {
  width: 28px;
  height: 28px;
  border-radius: 500px;
}
.cuerpo_opciones{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.color1Audifonos1 {
    background-color: #FBE4D6;
}

.color2Audifonos1 {
    background-color: #000000;
}

.color3Audifonos1 {
    background-color: #213448;
}

.color4Audifonos1 {
    background-color: #F6F6F6;
}
*/