@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Commissioner:wght@100..900&display=swap');

body {
    background-color: rgb(33, 52, 72);

}

.contenedor {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

* {
    color: #F6F6F6;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header,
footer {
    background-color: #ECEFCAB2;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 137px;

    .nombre {
        color: #ECEFCA;
    }
}

.nombre {
    margin-left: 5%;
    font-size: 32px;
    font-weight: 600;
}

.header_opciones {
    margin-right: 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header_opciones>i {
    font-size: 32px;
}

.header_opciones>a>i {
    font-size: 32px;
}

.header_opciones>* {
    margin-right: 5%;
}

.buscador {
    background-color: #F6F6F6;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#buscadortxt {
    border: none;
    background-color: #F6F6F6;
    color: black;
}

.lupa {

    color: rgba(0, 0, 0, .1);
}

footer {
    height: 137px !important;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.cuerpo{
    width:80%;
}
.copyright {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "FLAR" 0,
        "VOLM" 0;
}

.redes>i {
    font-size: 21px;
    margin-right: 10px;
}


.seccionAudifonos {
    width: 417px;
    background-color: #547792;
    padding: 20px;
    position: relative;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 491px;
}

.seccionAudifonos>img {
    width: 299px;
    height: 299px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.seccionAudifonos b {
  font-size: 20px;
  font-weight: 700;
}

.seccionAudifonos span {
  font-size: 14px;
  color: #ffffff;
}

.seccionAudifonos .precio {
  font-weight: bold;
  color: #ECEFCA;
  font-size: 18px;
}

.colorAudifonos {
  width: 28px;
  height: 28px;
  border-radius: 500px;
}
.cuerpo_opciones{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}