<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="{{ url_for('static', filename='js/carrito.js') }}" defer></script>
</head>
<body>
    <div class="contenedor">
        <header>
            <a href="{{ url_for('index') }}" class="nombre">TUNLY</a>
            <div class="header_opciones">
                <a href="{{ url_for('carrito') }}"><i i class="fa-solid fa-cart-shopping"></i></a>
                <a href="{{ url_for('miscompras') }}"><i class="fa-solid fa-receipt"></i></a>
                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                {% if session.get('es_admin') %}
                <a href="{{ url_for('admin_productos') }}"> <i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </header>
        <div class="cuerpo">
            <div class="cuerpo_opciones">
                <h1 class="home">CARRITO</h1>
            </div>

            <section class="productosCarr" id="contenedor-carrito">
                <!-- Aquí se insertarán los productos dinámicamente -->
            </section>

            <div class="compras">
                <h3>Total: $<span id="total-carrito">0.00</span></h3>
            </div>
            <div class="botonAcom">
                <button class="botonComprar" onclick="realizarCompra()">Realizar compra</button>
            </div>
        </div>

        <footer>
            <span class="copyright">© 2025 TUNLY. Todos los derechos reservados</span>
            <div class="redes">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/d351efb335.js" crossorigin="anonymous"></script>
</body>
</html>
