<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Audífonos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="{{ url_for('static', filename='js/carrito.js') }}" defer></script>
</head>
<body>
    <div class="contenedor">
        <header>
            <a href="{{ url_for('index') }}" class="nombre">TUNLY</a>
            <div class="header_opciones">
                <a href="{{ url_for('carrito') }}"><i i class="fa-solid fa-cart-shopping"></i></a>
                <a href="{{ url_for('miscompras') }}"><i class="fa-solid fa-receipt"></i></a>
                {% if session.get('es_admin') %}
                <a href="{{ url_for('admin_productos') }}"> <i class="fa-solid fa-user"></i></a>
                {% endif %}
                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a> 
            </div>
        </header>
        <div class="cuerpo">
            <div class="cuerpo_opciones">
                <h1 class="home">Tienda de Audífonos</h1>
            </div>
            <div class="productos">
                {% for producto in productos %}
                <div class="producto">
                    <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
                    <h3>{{ producto.nombre }}</h3>
                    <h5>{{ producto.descripcion }}</h5>
                    <p>${{ producto.precio }}</p>
                    <p><strong>Inventario:</strong> {{ producto.inventario }}</p>
                    <button class="botonProd" onclick="agregarAlCarrito({{ producto.id }}, '{{ producto.nombre }}', {{ producto.precio }}, '{{ producto.imagen_url }}', '{{ producto.descripcion }}')">
                        Añadir al carrito
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
        <footer>
            <span class="copyright">© 2025 TUNLY. Todos los derechos reservados</span>
            <div class="redes">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/d351efb335.js" crossorigin="anonymous"></script>
</body>
</html>
